*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color:hsl(225, 100%, 94%);
    position: relative;
}

.container{
    position: absolute;
    left: 50px;
    top: 50px;
    /* transform: translate(50%, -50%); */
    max-width: 450px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

.text{
    padding: 7px;
    text-align: center;
}
.order{
    color: black;
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
}
    .text p.P1{
        color: gray;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .anual{
    display: flex;
    border-radius: 12px;
    background-color: hsl(225, 100%, 98%);
    padding: 20px ;
    align-items: center;
    justify-content: space-between;
    }

    .dual{
        margin-right: 180px;
        font-size: 18px;
        color:  hsl(224, 23%, 55%);
    }
    .annual{
        padding: 6px;
    }
    .button1{
        color: hsl(245, 75%, 52%);
        font-size: 16px;
        font-weight: bold;
    }
    .last{
        height: 150px;
    }
    .button2{
        background-color: hsl(245, 75%, 52%);
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: white;
        width: 90%;
        padding:16px 0px 16px 120px;
        margin: 26px 20px;
        border-radius: 12px;
        text-decoration: none;
    }
    .button3{
        color: hsl(224, 23%, 55%);
        padding: 70px 0px 0px 164px;
        font-weight: 800;
        text-decoration: none;
    }






